html{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ----------------- header ----------------->*/

.header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    color: #fff;
    background-color: #353a4e;
}

.logo{
    width: 50px;
}

.user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    height: inherit;
}

.user-cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: inherit;
    border-bottom: 2px solid transparent;
}

.shopping-cart{
    width: 25px;
}

#carrito{
    display: none;
}

.user-cart:hover #carrito{
    position: absolute;
    top: 70px;
    display: initial;
    min-height: 400px;
    padding: 10px 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #292b37;
}

.user-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: inherit;
    border-bottom: 2px solid transparent;
}

.user-button:hover,
.user-cart:hover{
    background-color: rgb(41, 43, 56);
    cursor: pointer;
}

.user-avatar{
    width: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.user-name{
    font-size: 0.8rem;
    font-weight: 600;
}

/* ---------- tabla del carrito ----------->*/

#lista-carrito{
    cursor: initial;
    border-collapse: collapse;
}

#lista-carrito th, td{
    padding: 10px 15px;
    border-bottom: 1px solid #E1E1E1;
}

#vaciar-carrito{
    display: block;
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #dc143c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#vaciar-carrito:hover{
    background-color: #bb193a;    
}

.borrar-curso{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: inherit;
    background-color: #dc143c;
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.borrar-curso:hover{
    background-color: #bb193a;
    cursor: pointer;
}

/* ----------------- hero ----------------->*/

.hero{
    height: 400px;
    padding: 0 50px;
    background-image: url(../assets/img/hero.jpg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
}

.hero-contenido{
    position: absolute;
    top: 25%;
    width: 450px;
    margin: 0;
}

.hero-contenido h2{
    font-size: 2rem;
    font-weight: 600;
}

.formulario{
    display: flex;
}

input[type="search"]{
    flex-basis: 100%;
    height: 45px;
    padding-left: 10px; 
    background-image: url(../assets/img/lupa.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input[type="search"]:focus{
    box-shadow: 0 0 1px 5px rgba(229, 103, 23, 0.3);
    outline: 0 none;

}

/* ----------------- barra ----------------->*/

.barra{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #3ba5b1, #76bcc2);
}

.barra div{
    display: flex;
    align-items: center;
    gap: 25px;
}

.barra div p{
    font-size: 0.9rem;
    color: #fff;
}

.barra div i{
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

/* ----------------- main ----------------->*/

main{
    padding: 50px;
    color: #828687;
    background-color: #f3f4f6;
}

h1{
    font-weight: 400;
}

/* ----------------- cada article ----------------->*/

#lista-cursos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card header{
    padding: 20px;
    overflow: hidden;
}

.card h3{
    margin: 0;
}

.profesor {
    font-style: italic;
    font-size: 0.9rem;
    color: #bbbbbb;
}

.card img{
    width: 100%;
    height: 100%;
}

.card .info{
    padding: 10px;
    overflow: hidden;
}

.valoracion-precio{
    display: flex;
    justify-content: space-evenly;
}

.precio{
    font-weight: 700;
    color: #3ba5b1;
}

.fa-star{
    color: gold;
}

.card footer button{
    width: 100%;
    padding: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #3ba5b1;
    border: none;
}

.card footer button:hover{
    background-color: #1099a8;
    cursor: pointer;
}

/* ----------------- footer ----------------->*/

.pie-pagina{
    background-color: #d1d1d1;

}

.pie-pagina__menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: inherit;
}

.pie-pagina__menu h3{
    font-size: 0.8rem;
    color: #474747;
}

.pie-pagina__menu > div{
    margin: 10px 50px;
}

.pie-pagina__menu div ul{ 
    margin-left: 20px;
    padding-left: 20px;  
    list-style: none;
    border-left: 1px solid #696969;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px 0;
    background-color: #f3f4f6;
}

.pie-pagina__menu a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #545970;
    border-bottom: 1px solid transparent;
}

.pie-pagina__menu a:hover{
    border-bottom: 1px solid #545970;
}

